/**p.error{
    color: red;
}
p.success{
    color: green;
}
p.success.feedback{
    border: dashed 2px rgb(55, 0, 255); 
    color: darkorchid;
}
div.error{
    color: blue;
}
/**a{
    display: block;
}

/**for div selector**/
/**#content{
    background-color: aqua;
    padding: 30px;
}
#else{
    background-color: darkgrey;
    padding: 30px;
}

/**div .success{
    color: red;
}**/

a[href*="thenetninja"]{
    background-color: #008cff;
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase; 
}

a[href$=".com"]{
    color: white;
    background-color: rgb(18, 122, 226);
    border: 2px solid rgb(0, 102, 255);
    text-transform: uppercase;
}

div{
    color: blue;
    font-weight: bold;
    margin: 40px;
    border: 1px solid red;
    background-color: lightgrey;
}

div p{
    margin: inherit;
    border: inherit;
    color: blueviolet;
}

p{
    color: aqua;
}